<%- include("header.ejs")%>
    <div class="container">
        <h4>Danh sách người dùng</h4>
        <a href="/add-user" class="btn btn-outline-dark">Thêm mới người dùng</a>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Họ tên</th>
                <th scope="col">Giới tính</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col">Số di động</th>
                <th class="text-center" scope="col">Xem</th>
              </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < dataUser.length; i++) { %>
                <tr>
                    <td><%= dataUser[i].name %></td>
                    <td><%= dataUser[i].gender %></td>
                    <td><%= dataUser[i].birthDay %></td>
                    <td><%= dataUser[i].phone %></td>
                    <td>
                      <div class="row">
                        <form class="text-center" action="/edit-user/<%= dataUser[i].id %>" method="GET">
                          <button type="submit" class="btn btn-outline-dark"><i class="fa fa-clipboard-list"></i></button>
                        </form>
                      </div>
                    </td>
                </tr>
                <% } %>
            </tbody>
          </table>
    </div>
    <%- include("footer.ejs")%>    
