<%- include("header.ejs")%>
    <div class="container">
        <h4 class="">Danh Mục Các Hãng</h4>
        <a href="/add-brand" class="btn btn-outline-dark">Thêm Hãng Mới</a>
        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="text-center">Hình Đại Diện</th>
                <th scope="col">Tên Hãng</th>
                <th scope="col">Thông Tin Thêm</th>
                <th class="text-center" scope="col">Xem</th>
              </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < dataBrand.length; i++) { %>
                <tr>
                  <td class="text-center">
                    <img src="/img/<%= dataBrand[i].logo %>" width="50px" height="auto" style="border-radius: 5px;">
                  </td>
                  <td><%= dataBrand[i].name %></td>
                  <td><%= dataBrand[i].describe %></td>
                  <td>
                      <div class="row">
                        <form class="text-center" action="/edit-brand/<%= dataBrand[i].id %>" method="GET">
                          <button type="submit" class="btn btn-outline-dark"><i class="fa fa-clipboard-list"></i></button>
                        </form>
                      </div>
                    </td>
                </tr>
                <% } %>
            </tbody>
          </table>
    </div>
<%- include("footer.ejs")%>  
