<%- include("header.ejs")%>
          <form action="/update-user" method="POST">
              <div class="form-group">
                <label for="exampleInputEmail1">Họ và tên</label>
                <input type="text" class="form-control" placeholder="Nhập họ tên" name="name" value="<%= dataUser.name %>">
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">Giới tính</label>
                  <input type="text" class="form-control" placeholder="Nhập giới tính" name="gender" value="<%= dataUser.gender %>">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Ngày sinh</label>
                  <input type="date" class="form-control" placeholder="Chọn ngày sinh" name="birthDay" value="<%= dataUser.birthDay %>">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Số điện thoại</label>
                  <input type="text" class="form-control" placeholder="Nhập số điện thoại" name="phone" value="<%= dataUser.phone %>">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Địa chỉ</label>
                  <input type="text" class="form-control" placeholder="Nhập địa chỉ" name="address" value="<%= dataUser.address %>">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Mật khẩu</label>
                  <input type="text" class="form-control" placeholder="Nhập mật khẩu" name="password" value="<%= dataUser.password %>">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Vai trò</label>
                  <input type="text" class="form-control" placeholder="Chọn vai trò" name="role" value="<%= dataUser.role %>">
                </div>
              <input type="text" hidden value="<%= dataUser.id %>" name="id"/>
              <button type="submit" class="btn btn-primary">Cập nhật</button>
              <a href="/" class="btn btn-dark">Trở về</a>
          </form>
    </div>
    <%- include("footer.ejs")%>  