<%- include("header.ejs")%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type="text/javascript">
    function chooseFile(fileInput) {
        if(fileInput.files && fileInput.files[0]){
            var reader = new FileReader();
            reader.onload = function (e){
                $('#image').attr('src', e.target.result);
            }
            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>
    <div class="container">
      <div class="row">
      <h4>Thông tin danh mục</h4>
          <form action="/update-category" method="POST" class="row needs-validation">
            <div class="col-md-3">
              <a class="btn" onclick="document.getElementById('imageFile').click(); return false;">
                <img src="/img/<%= dataCategory.category_image %>" class="image__hover" id="image" width="100%" height="auto">    
              </a>
              <input hidden type="file" class="form-control" placeholder="Nhập tên của hãng" id="imageFile" onchange="chooseFile(this)" accept="image/gif, image/jpeg, image/png" name="category_image">
            </div>
            <div class="col-md-9">
              <div class="form-group was-validated">
                  <label class="form-label" for="text">Tên danh mục</label>
                  <input required type="text" class="form-control" placeholder="Tên Của Hãng" name="category_name" value="<%= dataCategory.category_name %>">
                  <div class="invalid-feedback">
                    Tên danh mục không được trống
                  </div>
                </div>
                <div class="form-group was-validated">
                  <label class="form-label" for="text">Mô tả của danh mục</label>
                  <textarea required type="text" class="form-control" placeholder="Mô tả" name="category_describe"><%= dataCategory.category_describe %></textarea>
                </div>
                <input type="text" hidden value="<%= dataCategory.category_id %>" name="category_id"/>
                <div class="modal fade" id="exampleModall" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cập nhật người dùng</h5>
                      </div>
                      <div class="modal-body">
                        Bạn có chắc muốn thay đổi thông tin người dùng này không ?
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-info text-white">Có</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pt-1">
                  <a class="btn btn-outline-info"  data-bs-toggle="modal" data-bs-target="#exampleModall">Cập nhật</a>
                  <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Xoá</a>
                  <a href="/category-list" class="btn btn-outline-dark">Trở về</a>
                </div>
              </div>
          </form>
          <form action="/delete-category" method="post" class="pb-1">
            <input type="text" hidden value="<%= dataCategory.category_id %>" name="category_id"/>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xoá người dùng</h5>
                  </div>
                  <div class="modal-body">
                    Bạn có chắc muốn xoá người dùng này không ?
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Có</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
    </div>
    </div>
  </div>
    <%- include("footer.ejs")%>  