<%- include("header.ejs")%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type="text/javascript">
    function chooseFile(fileInput) {
        if(fileInput.files && fileInput.files[0]){
            var reader = new FileReader();
            reader.onload = function (e){
                $('#image').attr('src', e.target.result);
            }
            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>

    <div class="container">
      <h4>Thông tin hãng</h4>
          <form action="/update-brand" method="POST" class="row needs-validation">
            <div class="col-md-3">
              <a class="btn" onclick="document.getElementById('imageFile').click(); return false;">
                <img src="/img/<%= dataBrand.logo %>" class="image__hover" id="image" width="100%" height="auto">    
              </a>
            <input hidden type="file" class="form-control" id="imageFile" onchange="chooseFile(this)" accept="image/gif, image/jpeg, image/png" name="logo">
            </div>
            <div class="col-md-9">
              <div class="form-group was-validated">
                <label class="form-label" for="text">Tên hãng</label>
                <input required type="text" class="form-control" placeholder="Tên Của Hãng" name="brand_name" value="<%= dataBrand.brand_name %>">
                <div class="invalid-feedback">
                  Tên hãng không được trống
                </div>
              </div>
              <div class="form-group was-validated">
                <label class="form-label" for="text">Đường dẫn</label>
                <input type="url" class="form-control" placeholder="https://diachitrangcuahang.com"
                pattern="https://.*" name="link" value="<%= dataBrand.link %>" required>
              </div>
              <div class="form-group">
                <label class="form-label" for="text">Thông tin thêm</label>
                <textarea required type="text" class="form-control" placeholder="Mô tả" name="brand_describe"><%= dataBrand.brand_describe %></textarea>
              </div>
              <input type="text" hidden value="<%= dataBrand.brand_id %>" name="brand_id"/>
              <div class="modal fade" id="exampleModall" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Cập nhật người dùng</h5>
                    </div>
                    <div class="modal-body">
                      Bạn có chắc muốn thay đổi thông tin người dùng này không ?
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-info text-white">Có</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pt-1">
                <a class="btn btn-outline-info"  data-bs-toggle="modal" data-bs-target="#exampleModall">Cập nhật</a>
                <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Xoá</a>
                <a href="/brand-list" class="btn btn-outline-dark">Trở về</a>
              </div>
            </div>
            </div>
          </form>
          <form action="/delete-brand" method="post" class="pb-1">
            <input type="text" hidden value="<%= dataBrand.brand_id %>" name="brand_id"/>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xoá hãng</h5>
                  </div>
                  <div class="modal-body">
                    Bạn có chắc muốn xoá hãng này không ?
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Có</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
  </div>
    <%- include("footer.ejs")%>  